<form id="preguntas-form" action="/respuesta_chat" method="post">
    {% for pregunta in preguntas %}
    <input type="radio" name="pregunta" value="{{ pregunta }}"> {{ pregunta }}<br>
    {% endfor %}
    <input type="submit" value="Enviar">
</form>

<div id="respuesta-container">
    {{ respuesta }}
    <form action="/" method="get">
        <button type="submit">Volver al menú de preguntas</button>
    </form>
</div>



<script>
    document.getElementById('preguntas-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var preguntaSeleccionada = document.querySelector('input[name="pregunta"]:checked').value;

        fetch('/respuesta_chat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'pregunta=' + preguntaSeleccionada,
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('respuesta-container').innerHTML = data;
        });
    });
</script>
