<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBOT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-outline-custom {
            color: black; 
            border-color: green; 
        }

        .btn-outline-custom:hover {
            background-color: green; 
            color: white; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content text-center"> 
            <img src="/static/bot.jpg" alt="DataGovernor" class="img-fluid">
            <h3>DataGovernor</h3>
            <p>Consolidar altos niveles de gobernanza participativa y descentralizada entre los actores del SCTeI en el nivel subregional del departamento de Caldas </p>
        </div>        
        <p><h5>¿Qué te gustaría explorar?</h5></p>
        <ul class="list-group">
            {% for item in menu %}
            <a href="/response_one/{{loop.index}}/{{ source }}/{{ item }}" class="btn btn-outline-custom">{{ item }}</a>
            {% endfor %}
            <a href="/back" class="btn btn-outline-danger">Regresar</a><br>
        </ul>
    </div>

    
</body>
</html>

